<!-- 顶部 -->
	<div  class="content-header">
          <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active">Dashboard</li>
          </ol>
	</div>

<!-- //顶部 结束  -->
	<div class="content">
		 <div class="row">
		 	<div class="col-md-7 connectedSortable">
		 		
				<ui-box class="box-info" id="123">
					<ui-box-header icocls="fa fa-envelope" title="邮箱">
						 <div class="pull-right box-tools">
				             <button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="删除">
				             	<i class="fa fa-times"></i>
				             </button>
				         </div>
					</ui-box-header>
					
					<ui-box-body>
						 <form action="#" method="post">
				             <div class="form-group">
				                 <input type="email" class="form-control" name="emailto" placeholder="Email to:"/>
				             </div>
				             <div class="form-group">
				                 <input type="text" class="form-control" name="subject" placeholder="Subject"/>
				             </div>
				             <div>
				                 <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
				             </div>
				         </form>
					</ui-box-body>
					<ui-box-footer class="clearfix">
					<button class="pull-right btn btn-default" id="sendEmail">发送<i class="fa fa-arrow-circle-right"></i></button>
					</ui-box-footer>
				</ui-box>
				
				
		 	</div><!-- end col-md-7 -->
		 	
		 	<div class="col-md-5 connectedSortable">
		 	</div>
		 </div>
	</div>

<!-- 中心内容区 -->

<!-- //中心内容 区 结束  -->
